/* take care of people who disable JS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // display: none;
}
  
:root {
  --Almost-White: hsl(0, 0%, 98%);
  /* --Almost-White: hsl(0, 0%, 8%); */
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
  /* --Almost-Black: hsl(0, 0%, 98%); */
  --my-parag-size: 1.125rem; /*i.e 18px*/
}
  
  
body {
  font-family: sans-serif;
  line-height: 1.5;
  background: var(--Almost-White);
  color: var(--Almost-Black);

  // globals / utillities
  .visually-hidden {
    // I chose font-size: 0 over display none, because display breaks my design
    font-size: 0;
  }

  p {
      font-size: var(--my-parag-size);
    }
    
  a {
    text-decoration: none;
  }
      
  .all-btn-links {
    transition: all 0.3s ease-in;
    /*display: none;*/

    img {
      pointer-events: none;
    }
  }

  .each-link.open .arrow-down {
    content: url(../images/icon-arrow-up.svg);
  }

  .company-menu li a:focus-visible,
  .features-menu li a:focus-visible,
  .all-btn-links:focus-visible {
    outline: 0.1rem dotted var(--Almost-Black); 
    border-radius: 0.3rem;
  }
  
  .all-btn-links:hover {
    border-color:  var(--Almost-Black); 
  }
}
  
  /* nav, main, footer {
    max-width: 1440px;
  } */
  
  
.nav {
	display: flex;
	/* background: red; */
	align-items: center;
	/* justify-content: center; */
	padding: 0.5rem 1rem;

	
	.btn-skip-to-main-content {
		position: absolute;
		left: 1rem;
		top: 1rem;
		background: #f4f4f4;
		padding: 0.3rem 1rem;
		border-radius: 20%;
		height: 2.75rem;
		font-size: 1.4rem;
		transition: all 0.5s ease;
		// opacity 0 makes chrome vox call it "button" without saying the content of the button tag which is "skip to main content"
		// opacity: 0;
		transform: translate(2rem,-10rem);
	}
	
	.btn-skip-to-main-content:focus-visible {
		transform: translate(0, 0);
    color: var(--Almost-Black);
	}
		
	.nav-logo {
		min-height: 2.75rem;
		padding: 0.8rem 0 0 0.5rem;
	}

		
	/* making the svg(snap) anime */
	.snap-svg {
		/* this height and margin wont make the nav jump when the btn is given position: fixed */
		/* margin: auto; */
		/* applying the fill globally to all */
		fill: transparent;
		animation: fill-color 4s ease forwards;
	}
	
	.logo-path {
		stroke: var(--Almost-Black);
		animation-name: svg-animation;
		animation-fill-mode: forwards;
		animation-timing-function: ease;
		/* the animation duration and delay will be set in my JS */
	}
  /* the nav btn and hamburger */
  .nav-btn {
    display: inline-block;
    margin: auto 0 auto auto;
    /* recommended by wcag is 44 x 44px equivalent to 2.75rem*/
    width: 2.75rem;
    height: 2.75rem;
    background-color: transparent;
    border-radius: 0.2rem;
    border: none;
    z-index: 2;
    transition: all 0.5s ease;
  }
  
  .hamburger {
    display: block;
    width: 2rem;
    height: 0.15rem;
    background: var(--Almost-Black);
    border-radius: 0.1rem;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
    /* put em all at the center of the button */
    margin: auto;
  }
  
  .hamburger:nth-child(2) {
    margin: 0.3rem auto;
  }

  .nav-links {
    /* display: none; */
    list-style: none;
    /* padding-top: 4rem; */
    /* height: max(40rem, 100vh); */
    min-height: 100vh;
    min-width: 60%;
    background: var(--Almost-White);
    position: fixed;
    /* position: absolute; */
    right: 0;
    top:0;
    transition: all 0.6s ease;
    /* background: red; */
    clip-path: polygon(100% 100%, 100% 0, 100% 0, 100% 100%);
    -webkit-clip-path: polygon(100% 100%, 100% 0, 100% 0, 100% 100%);
    pointer-events: none;
  }
  
  .each-link button,
  .each-link a {
    border: none;
    background: var(--Almost-white);
    transition: all 1s ease 0.1s; 
    color: var(--Almost-Black);
    transform: translate(60vw) rotate(-100deg) scale(4);
  }
  
  .each-link .all-btn-links {
    /* display:  */
    display: inline-block;
    color: var(--Medium-Gray);
    border-color: var(--Medium-Gray);
    margin: 0.2em auto auto 0.3rem;
    padding: 0.5rem 1rem;
    /* background: brown; */
  }
	
  .each-link .all-btn-links:hover {
    color: var(--Almost-Black);
    /* display: none; */
  }

  .each-link .register-btn,
  .each-link .log-in-btn {
    /* inherited from .learn-more:hover*/
    width: calc(100% - 2rem);
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    /* font-weight: bold; */
    border: 0.1rem solid var(--Medium-Gray);
    /* 2rems already subtracted from the width */
    margin: 0 1rem;
  }
  
  .all-btn-links.log-in-btn {
    border-color: transparent;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
  }
  
  .register-btn:hover {
    border-color: var(--Almost-Black);
  }
  
  .arrow-down {
    transition: all 0.6s ease;
    display: inline-block;
    margin-left: 0.6rem;
    
    // .change-to-up {
    //   content: url(../images/icon-arrow-up.svg);
    // }
  }

  .company-menu,
  .features-menu {
    // display: block;
    display: none;
    list-style:none;
    margin: 1.5rem 0 0.4rem 2rem;
    color: var(--Medium-Gray);
    /* background: red; */
    /* animation: 0.3s ease-in dropItem;  */
    transition: all 0.5s ease-in-out;
    opacity: 0.3;
    /* display: none; */
    /* transform: translateY(-100rem); */
  }

  li.open ul.company-menu,
  li.open ul.features-menu {
    background: var(--Almost-White);
    display: block;
    /* animation: 0.3s ease-in-out dropItem;  */
    opacity: 1;
    /* transform: translateY(0); */
  }
    
  .company-menu li a,
  .features-menu li a {
    color: var(--Medium-Gray);
  }
    
  .company-menu li a:hover,
  .features-menu li a:hover {
    color: var(--Almost-Black);
  }

  .features-menu-li img {
    display: inline-block;
    margin-right: 0.5rem;
  }

  .company-menu-li,
  .features-menu-li {
    margin-top: 1rem;
  }

  .company-menu {
    margin-top: 1rem;
  }

  .open-menu .nav-btn {
    background: var(--Almost-White);
    position: fixed;
    top: 1rem;
    right: 1rem;
    transform: translate(0.1rem, 0.1rem);
  }
    
  .open-menu .nav-links {
    padding: 4rem 0 1.5rem 0;
    /* display: block; */
    pointer-events: all;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
    transform: rotate(0);
    opacity: 1;
    /* clip-path: none; */
  }

  .open-menu .each-link button,
  .open-menu .each-link a {
    transform: rotate(0);
    transform: scale(1);
  }
  /* change the hamburger to X */
  .open-menu .hamburger:first-child {
    transform: rotate(-100deg) translateY(-63px);
    color: red;
    opacity: 0;
  }
  .open-menu .hamburger:nth-child(2) {
    transform: rotate(-45deg);
  }
  .open-menu .hamburger:nth-child(3) {
    transform: rotate(45deg) translate(-0.4rem, -0.3rem);
  }
}
  
/***************Main**************/
.main {
  padding: 1rem 0.5rem;
  text-align: center;
  
  .hero-img {
    display: inline-block;
    width: 100%;
  }
  
  .heading1 {
    font-size: 2.5rem;
    margin-top: 1.6rem;
  }
  
  .main-paragraph {
    margin: 0.6rem 0.7rem 2.3rem 0.7rem;
    color: var(--Medium-Gray);
  }
  
  .learn-more {
    color: var(--Almost-White);
    background: var(--Almost-Black);
    padding: 0.85rem 1.2rem;
    border-radius: 1rem;
    font-weight: bold;
    border: 0.1rem solid var(--Almost-Black);
  }

  .learn-more:focus-visible {
    // overwritting the general one
    border-radius: 1rem;
  }
  
  .register-btn,
  .log-in-btn,
  .learn-more:hover,
  .learn-more:focus-visible {
    background: var(--Almost-White);
    color: var(--Almost-Black);
  }
  
  .base-icons {
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
    .img-container {
      flex: 1;
  
      /* adjusting the img sizes to ensure pixel perfect design */
      .img-container:first-child img {
        width: 85%;
      }

      .img-container:nth-child(2) img {
        width: 60%;
      }

      .img-container:nth-child(3) img {
        width: 70%;
      }

      .img-container:nth-child(4) img {
        width: 70%;
      }
    }
  }
}
  
/* footer */
  .attribution {
    text-align: center;
    margin: 2rem 1rem 0 0;
    padding: 0 0.5rem;
  
  
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  
  .attribution a:hover,
  .attribution a:focus-visible {
    color: var(--Almost-Black);
  }
  
  .attribution p {
    margin: 0.3rem 0;
    font-size: 0.7rem;
  }
}
  
  
/* animating the stroke */
@keyframes svg-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-color {
      
  to {
    fill: var(--Almost-Black);
  }
}
  
@keyframes dropItem {
  from {
    opacity: 0;
    transform: translateY(-5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* media Queries */
@media(min-width: 600px) {
  /* d */
}