
@import "mobile";

@media (min-width: 800px) {
  // body {
  //   // display: none;
  // }

  .nav {

    // hamburger
    &__btn {

      &--menu {     
        display: none;
      }
    }

    &-links {
      display: flex; 
      align-items: center;
      min-height: unset;
      width: 100%;
      position: unset;//returns it to default
      right: unset;
      top: unset;
      padding: 0 1rem;
      clip-path: none;
      -webkit-clip-path: none;
      opacity: 1;
      pointer-events: unset;//returns it to default

      &__li {

        &--logIn {
          margin: 0 1rem 0 auto;
        }

        &--miniMenu {
          
          &--open {

            .nav__miniMenu {
            background: var(--Almost-White);
          }
        }

          &--company {
            margin: 0;
          }
        }

        &__btn {
          margin: 0;
          transform: none;

          &--register-btn,
          &--logIn-btn {
            /* inherited from  .learn-more:hover*/
            width: unset;
          }

          &--register-btn{
            padding: 0.4rem 2rem;
            
            &:hover {
            // border-color: var(--Almost-Black);
            }
          }

          &:hover {
            // color: var(--Almost-Black);
            transform: none;
          }
        }
      }
    }

  &__miniMenu {
    
        position: absolute;
        // transform: translateY(-100%);
        // top: 100%;
        // bottom: -100%;

    // // display: none;
    // margin: 1.5rem 0 0.4rem 2rem;
    // color: var(--Medium-Gray);
    // transition: all 0.5s ease-in-out;
    // transform: translateY(-8rem);
    // clip-path: polygon(0% 100%, 0% 0, 100% 0, 100% 100%);
    // -webkit-clip-path: polygon(100% 100%, 100% 0, 100% 0, 100% 100%); 

    a {
      // color: var(--Medium-Gray);
    // pointer-events: none;

      &:hover {
      // color: var(--Almost-Black);
      }
    }

    &__li {
      // margin-top: 1rem;
      
      img {
        // display: inline-block;
        // margin-right: 0.5rem;
      }

      // &-features {

      //   a {
      //     margin-left: auto;
      //   }
      // }
      }
  }

  // .nav--open, when the nav is opened
  &--open {
    // display: none;

    .nav__btn--menu {
      // background: var(--Almost-White);
      // position: fixed;
      // top: 1rem;
      // right: 1rem;
      // transform: translate(0.1rem, 0.1rem);
      
      /* change the hamburger to X */
      &--hamburger:first-child {
        // transform: rotate(-100deg) translateY(-63px);
        // color: red;
        // opacity: 0;
      }
      &--hamburger:nth-child(2) {
        // transform: rotate(-45deg);
      }
      &--hamburger:nth-child(3) {
        // transform: rotate(45deg) translate(-0.4rem, -0.3rem);
      }
    }

    .nav-links {//i.e (nav--open .nav-links)
      // clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
      // -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
      // pointer-events: unset;//returns it to default
      // // padding: 4rem 0 1.5rem 0;
      padding: 0;
      // opacity: 1;

      &__li__btn {
        // transform: none;
      }
    }
  }
  }

  .main {
    display: flex;
    flex-direction: row-reverse;
    padding: 5rem;

    &__background-img {
      content: url(../images/image-hero-desktop.png);
      // flex: 1;
      width: 50%;
      display: block;
    }

    &__wrap {
      padding: 2rem;
      // display: block;
      // width: 50%;
      // flex: 2;
    }

    &__content {
      padding: 0;
    }

    &__icons-container {
      padding: 1rem;
      margin: auto 0 1rem 0;
      // margin-top: auto;
    }
  }
}