@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
/* take care of people who disable JS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/*i.e 18px*/
:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%); }

body {
  font-family: 'Epilogue', sans-serif;
  line-height: 1.5;
  background: var(--Almost-White);
  color: var(--Almost-Black); }

ul {
  list-style-type: none; }

/*
  I chose font-size: 0 over display none,
  because display:none breaks my design
*/
.visually-hidden {
  font-size: 0; }

p {
  font-size: 1.125rem; }

a {
  text-decoration: none; }

.btn {
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }
  .btn:not(.visually-hidden, .nav__btn--skip-to-main-content) {
    font-size: 0.8rem; }
  .btn:hover {
    border-color: var(--Almost-Black);
    color: var(--Almost-Black); }
  .btn:focus-visible {
    outline: dotted 0.3rem var(--Almost-Black);
    color: var(--Almost-Black); }

img {
  pointer-events: none; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem; }
  .nav__logo {
    min-height: 2.75rem;
    padding: 0.8rem 0 0 0.5rem; }
  .nav__svg {
    /* applying the fill globally to all */
    fill: transparent;
    -webkit-animation: fill-color 4s ease forwards;
            animation: fill-color 4s ease forwards; }
  .nav__path {
    stroke: var(--Almost-Black);
    -webkit-animation-name: svg-animation;
            animation-name: svg-animation;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    /* the animation duration and delay will be set for each path in my JS */ }
  .nav__btn--menu {
    display: block;
    margin: auto 0 auto auto;
    /* recommended by wcag is 44 x 44px equivalent to 2.75rem*/
    width: 2.75rem;
    height: 2.75rem;
    background-color: transparent;
    border-radius: 0.2rem;
    border: none;
    z-index: 2; }
    .nav__btn--menu--hamburger {
      display: block;
      width: 2rem;
      height: 0.15rem;
      background: var(--Almost-Black);
      border-radius: 0.1rem;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      pointer-events: none;
      margin: auto; }
      .nav__btn--menu--hamburger:nth-child(2) {
        margin: 0.3rem auto; }
  .nav__btn--skip-to-main-content {
    z-index: 10;
    position: absolute;
    left: 1rem;
    top: 1rem;
    background: #f4f4f4;
    padding: 0.3rem 1rem;
    border-radius: 20%;
    height: 2.75rem;
    font-size: 1.4rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translate(2rem, -10rem);
            transform: translate(2rem, -10rem); }
    .nav__btn--skip-to-main-content:focus-visible {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
      color: var(--Almost-Black);
      outline: dotted 0.3rem var(--Almost-Black); }
  .nav-links {
    list-style: none;
    /* padding-top: 4rem; */
    /* height: max(40rem, 100vh); */
    min-height: 100vh;
    min-width: 60%;
    background: var(--Almost-White);
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    clip-path: polygon(100% 100%, 100% 0, 100% 0, 100% 100%);
    -webkit-clip-path: polygon(100% 100%, 100% 0, 100% 0, 100% 100%);
    pointer-events: none;
    opacity: 0; }
    .nav-links__li--miniMenu--open .nav-links__li__btn__arrowDown {
      content: url(../images/icon-arrow-up.svg); }
    .nav-links__li--miniMenu--open .nav__miniMenu {
      -webkit-transform: none;
              transform: none;
      margin: 1.5rem 0 0.4rem 2rem;
      opacity: 1;
      height: unset;
      pointer-events: unset; }
    .nav-links__li--miniMenu--company {
      margin-top: 1rem; }
    .nav-links__li__btn {
      border: none;
      background: var(--Almost-white);
      -webkit-transition: all 1s ease 0.1s;
      transition: all 1s ease 0.1s;
      -webkit-transform: translate(60vw) rotate(-100deg) scale(4);
              transform: translate(60vw) rotate(-100deg) scale(4);
      display: inline-block;
      color: var(--Medium-Gray);
      border-color: var(--Medium-Gray);
      margin: 0.2em auto auto 0.3rem;
      padding: 0.5rem 1rem; }
      .nav-links__li__btn--register-btn, .nav-links__li__btn--logIn-btn {
        /* inherited from  .learn-more:hover*/
        width: calc(100% - 2rem);
        text-align: center;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        border: 0.14rem solid var(--Medium-Gray);
        /* 2rems already subtracted from the width */
        margin: 0 1rem; }
        .nav-links__li__btn--register-btn:hover, .nav-links__li__btn--logIn-btn:hover {
          background: var(--Almost-White);
          color: var(--Almost-Black);
          -webkit-transform: scale(1);
                  transform: scale(1); }
      .nav-links__li__btn__arrowDown {
        display: inline-block;
        margin-left: 0.6rem;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
      .nav-links__li__btn--logIn-btn {
        padding: 0.5rem 1.2rem;
        margin-top: 1rem;
        margin-bottom: 0.3rem;
        border-color: transparent; }
        .nav-links__li__btn--logIn-btn:hover {
          border-color: transparent; }
        .nav-links__li__btn--logIn-btn:focus-visible {
          border-color: var(--Medium-Gray); }
      .nav-links__li__btn--register-btn:hover {
        border-color: var(--Almost-Black); }
      .nav-links__li__btn:hover {
        color: var(--Almost-Black);
        -webkit-transform: scale(1.2);
                transform: scale(1.2); }
  .nav__miniMenu {
    list-style: none;
    color: var(--Medium-Gray);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    height: 0rem;
    margin: 0;
    opacity: 0;
    pointer-events: none; }
    .nav__miniMenu a {
      color: var(--Medium-Gray); }
      .nav__miniMenu a:hover {
        color: var(--Almost-Black); }
    .nav__miniMenu__li {
      margin-top: 1rem; }
      .nav__miniMenu__li img {
        display: inline-block;
        margin-right: 0.5rem; }
  .nav--open .nav__btn--menu {
    background: var(--Almost-White);
    position: fixed;
    top: 1rem;
    right: 1rem;
    -webkit-transform: translate(0.1rem, 0.1rem);
            transform: translate(0.1rem, 0.1rem);
    /* change the hamburger to X */ }
    .nav--open .nav__btn--menu--hamburger:first-child {
      -webkit-transform: rotate(-100deg) translateY(-63px);
              transform: rotate(-100deg) translateY(-63px);
      color: red;
      opacity: 0; }
    .nav--open .nav__btn--menu--hamburger:nth-child(2) {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .nav--open .nav__btn--menu--hamburger:nth-child(3) {
      -webkit-transform: rotate(45deg) translate(-0.4rem, -0.3rem);
              transform: rotate(45deg) translate(-0.4rem, -0.3rem); }
  .nav--open .nav-links {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
    -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
    pointer-events: unset;
    padding: 4rem 0 0 0;
    opacity: 1; }
    .nav--open .nav-links__li__btn {
      -webkit-transform: none;
              transform: none; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 1rem 0.5rem;
  text-align: center; }
  .main__background-img {
    display: inline-block;
    width: 100%; }
  .main__heading1 {
    font-size: 2.5rem;
    margin-top: 1.6rem; }
  .main__paragraph {
    margin: 0.6rem 0.7rem 2.3rem 0.7rem;
    color: var(--Medium-Gray); }
  .main__btn--learn-more {
    color: var(--Almost-White);
    background: var(--Almost-Black);
    padding: 0.85rem 1.2rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--Almost-Black); }
    .main__btn--learn-more:focus-visible {
      border-radius: 1rem;
      background: var(--Almost-White);
      color: var(--Almost-Black); }
    .main__btn--learn-more:hover {
      background: var(--Almost-White);
      color: var(--Almost-Black); }
  .main__icons-container {
    margin-top: 3.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .main__each-icons-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    /* adjusting the img sizes to ensure pixel perfect design */ }
    .main__each-icons-wrapper:first-child img {
      width: 85%; }
    .main__each-icons-wrapper:nth-child(2) img {
      width: 60%; }
    .main__each-icons-wrapper:nth-child(3) img {
      width: 70%; }
    .main__each-icons-wrapper:nth-child(4) img {
      width: 70%; }

.attribution {
  text-align: center;
  margin: 0 1rem 0.7rem 0;
  padding: 0 0.5rem; }
  .attribution__p {
    margin: 0.3rem 0;
    font-size: 0.7rem; }
  .attribution__btn {
    color: #3e52a3; }

/* animating the stroke */
@-webkit-keyframes svg-animation {
  to {
    stroke-dashoffset: 0; } }
@keyframes svg-animation {
  to {
    stroke-dashoffset: 0; } }
@-webkit-keyframes fill-color {
  to {
    fill: var(--Almost-Black); } }
@keyframes fill-color {
  to {
    fill: var(--Almost-Black); } }
@media (min-width: 800px) {
  .btn {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }

  .nav__btn--menu {
    display: none; }
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: unset;
    width: 100%;
    position: unset;
    right: unset;
    top: unset;
    padding: 0 1rem 0 2rem;
    clip-path: none;
    -webkit-clip-path: none;
    opacity: 1;
    pointer-events: unset; }
    .nav-links__li--logIn {
      margin: 0 1rem 0 auto; }
    .nav-links__li--miniMenu--open .nav__miniMenu {
      background: var(--Almost-White);
      background: red;
      margin: 0.5rem 0 0 -2rem;
      border-radius: 0.5rem;
      padding: 0 1rem 1rem 1rem; }
      .nav-links__li--miniMenu--open .nav__miniMenu--company {
        margin: 0.5rem 0 0 1rem; }
    .nav-links__li--miniMenu--company {
      margin: 0; }
    .nav-links__li__btn {
      margin: 0;
      -webkit-transform: none;
              transform: none; }
      .nav-links__li__btn--register-btn, .nav-links__li__btn--logIn-btn {
        /* inherited from  .learn-more:hover*/
        width: unset; }
      .nav-links__li__btn--register-btn {
        padding: 0.4rem 2rem; }
      .nav-links__li__btn:hover {
        -webkit-transform: none;
                transform: none; }
  .nav__miniMenu {
    position: absolute; }
  .nav--open .nav__btn--menu {
    /* change the hamburger to X */ }
  .nav--open .nav-links {
    padding: 0; }

  .main {
    text-align: unset;
    padding: 2.5rem 3rem 0 5rem;
    display: grid;
    grid-template-areas: "text img";
    grid-gap: 6rem; }
    .main__img-wrap {
      width: 85%;
      grid-area: img; }
    .main__background-img {
      content: url(../images/image-hero-desktop.png);
      display: block; }
    .main__paragraph {
      margin: 0.6rem 0.7rem 2.3rem 0;
      color: var(--Medium-Gray); }
    .main__wrap {
      padding: 2rem 2rem 0 4rem;
      margin: 0 auto 0 0;
      max-width: 60%;
      grid-area: text;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .main__content {
      padding: 0; }
    .main__icons-container {
      padding: 1rem 1rem 0 1rem;
      margin: auto 0 0 0; } }
